@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

h1#title{
    background-color: rgb(45, 140, 248);
    color: white;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    font-weight: bold;
}
.table{
    font-size: 0.5em;
    font-weight: bold;
    border: solid 1px black;
}
.instruction{
    font-size: 0.7em;
    font-weight: bold;
}
#result{
    font-size: 0.8em;
}